<p id="notice"><%= notice %></p>

<h1>Listing Address Records</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @address_records.each do |address_record| %>
      <tr>
        <td><%= link_to 'Show', address_record %></td>
        <td><%= link_to 'Edit', edit_address_record_path(address_record) %></td>
        <td><%= link_to 'Destroy', address_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Address record', new_address_record_path %>
